@using Microsoft.AspNetCore.Identity
@using StreamNight.Areas.Identity.Data
@inject SignInManager<StreamNightUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a href="/">Watch Stream</a></li>
    <li><a href="/Identity/Account">Manage Account</a></li>
    <li><a href="/Logout">Logout</a></li>
}
else
{
    <li><a href="/Login">Login</a></li>
}