@using Microsoft.AspNetCore.Identity
@using StreamNight.Areas.Identity.Data
@inject SignInManager<StreamNightUser> SignInManager

@if (User.Identity.IsAuthenticated && await SignInManager.UserManager.IsInRoleAsync(await SignInManager.UserManager.FindByNameAsync(User.Identity.Name), "Administrator"))
{
    <p class="optionsLabel">Admin Options</p>
    <button onclick="connection.invoke('adminStreamUp')" style="background:#307235">Set stream up</button>
    <button onclick="connection.invoke('adminStreamDown')" style="background:#307235">Set stream down</button>
    <button onclick="connection.invoke('adminSendHeartbeatRequest')" style="background:#703235">Get heartbeat</button>
    <button onclick="connection.invoke('adminForceDisconnect')" style="background:#A03235">Disconnect all</button>
    <button onclick="connection.invoke('adminForceRefresh')" style="background:#F03235;grid-column:1/span 2;">Remote refresh all</button>
}
else
{

}