<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - @Model.StreamName</title>

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/profile.css">
    @if (User.IsInRole("StreamController") || User.IsInRole("Administrator"))
    {
        <link rel="stylesheet" href="~/css/admin/main.css">
    }
</head>
<body>
    <header>
        <a href="#" class="menu-icon" id="toggle">
            <img src="~/icons/hamburger.svg" alt="Menu Icon" class="menu-toggle" />
        </a>
        <a href="~/" id="logo-link">
            <img src="@Model.LogoPath" alt="Logo" id="logo" />
        </a>
    </header>
    <nav id="menu">
        <partial name="_Menu" />
    </nav>
    <main>
        <div id="mobile-head-spacer"></div>
        @RenderBody()
    </main>
    <script src="~/js/main.js"></script>
</body>
</html>