@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Associate your @Model.LoginProvider account.</h4>
<hr />

<p>
    You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
    Click the Register button to finish logging in.
</p>

<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <button type="submit" class="pure-button pure-button-primary">Register</button>
</form>
