@page
@model PersonalDataModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Personal Data";
}

    <section>
        <h4>@ViewBag.Title</h4>
        <div>
            <p>Your account may contain some personal information you've given us. You can download or delete the data we hold here.</p>
            <p>This data doesn't contain your messages or Discord profile information except user ID as we don't hold that for longer than 5 minutes.</p>

            <a asp-page="DownloadPersonalData" class="data-button" style="background-color: rgb(0, 120, 231);">Download</a>
            <a asp-page="DeletePersonalData" class="data-button" style="background:rgb(202, 60, 60);">Delete</a>
        </div>
    </section>
