@page
@model StreamNight.Areas.Admin.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Streambot Administration";
}

<section>
    <h1>Streambot Administration</h1>
    <p>Welcome to the bot administration page. Click any option on the left to get started.</p>
</section>