@page
@model StreamNight.Areas.Admin.Pages.StatusModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Streambot Status";
}

<section>
    <link rel="stylesheet" href="~/css/admin/status.css">

    <h1>Streambot Status</h1>
    <p>This page displays the current status of the bot.</p>

    <p id="connection-status">Data may be outdated. Attempting to reconnect to the status page...</p>
    <p id="connection-attempts">Connection attempts: 1</p>

    <table id="status-table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="bot-control">
        <button class="alert-danger" onclick="stopBot()">Stop Bot</button>
        <button class="alert-danger" onclick="startBot()">Start Bot</button>
        <button onclick="toggleServerIcon()">Toggle Server Icon</button>
    </div>

    <form id="redirect-control" onsubmit="return false;">
        <label for="redirect-url">Playlist URL</label>
        <input id="redirect-url" name="redirect-url" type="text" />
        <button onclick="togglePlaylistRedirect()">Toggle Playlist Redirect</button>
        <button onclick="updatePlaylistUrl()">Update Playlist URL</button>
    </form>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/admin/status.js"></script>
</section>