@page
@model StreamNight.Areas.Identity.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
@inject SignInManager<StreamNightUser> SignInManager
@inject UserManager<StreamNightUser> UserManager

<h1>Discord Web Chat</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>Signed in as <strong>@User.Identity.Name</strong></p>

    @if ((await UserManager.GetRolesAsync(await UserManager.FindByNameAsync(User.Identity.Name))).Contains("Administrator"))
    {
        <p><strong>This user is an administrator.</strong></p>
        <a id="database" asp-area="Admin" asp-page="DatabaseViewer">View Database</a>
    }
}
else
{
    <strong>Not signed in.</strong>
}