body {
    display: grid;
    grid-template-rows: minmax(100vh, auto);
    justify-content: center;
    margin: 0;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

h1, h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h2 {
    color: rgba(220,221,222,.3);
}

nav {
    line-height: 1.25rem;
}

    nav ul {
        width: 12rem;
        padding: 0;
    }

    nav li > * {
        padding: 0.375rem 0.625rem;
        text-decoration: none;
        color: #8e9297;
        font-weight: 500;
    }


    nav li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 2.125rem;
        margin-bottom: 0.15rem;
        border-radius: 0.1875rem;
    }

        nav li:hover {
            background-color: #292b2f;
        }

main {
    background-color: #0a0a0a;
    color: #dcddde;
}

    main a {
        color: #0096cf;
    }

.current {
    background-color: #40444b;
}

    .current a {
        color: #fff;
    }

.menu-icon {
    color: #72767d;
}

.menu-section {
    text-transform: uppercase;
    font-size: 0.75em;
    height: auto;
    margin-top: 1rem;
}

    .menu-section:hover {
        background-color: unset;
    }

    .menu-section > * {
        color: #72767d;
        padding: 0 0.625rem;
        margin: 0;
        vertical-align: baseline;
    }

.data-button {
    vertical-align: middle;
    text-align: center;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
}

.alert {
    position: relative;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.alert p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert p > span {
    margin-right: 1rem;
}

.alert-danger {
    background-color: #721c24;
}

.alert-success {
    background-color: #106B00;
    color: #fff;
}

.alert-dismissible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-dismissible p {
    padding: 0 1.5rem;
}

.alert-dismissible button {
    position: absolute;
    right: 0;
    background: none;
}

.alert-dismissible img {
    width: 1rem;
    height: 1rem;
}

@media only screen and (max-width : 47.99rem), print {
    body {
        background-color: #0a0a0a;
        grid-template-columns: 1fr;
        grid-template-rows: 4.4rem auto auto;
    }

    nav {
        background-color: #141414;
        position: fixed;
        top: 4.4rem;
        left: -14rem;
        padding: 0 0.3rem;
        transition: all .3s ease-in-out;
        height: 100%;
        overflow-y: auto;
        max-height: calc(100vh - 4.4rem);
    }

        nav::after {
            display: block;
            content: '';
            position: absolute;
            width: 0.5rem;
            height: 100%;
            top: 0;
            right: -0.5rem;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
        }

    header {
        display: grid;
        grid-template-columns: 4.4rem auto;
        display: -ms-grid;
        -ms-grid-columns: 4.4rem auto;
        background-color: #26282C;
        width: 100%;
        position: fixed;
        height: 4.4rem;
    }

    main {
        max-width: 100vw;
        z-index: -1;
    }

    #mobile-head-spacer {
        height: 4.4rem;
    }

    .menu-icon {
        z-index: 50; /* Has to be on top of #logo-link */
        grid-row: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        height: 100%;
        width: 100%;
        display: flex;
    }

    .menu-toggle {
        padding-left: 1.2rem;
        align-self: center;
        height: 1.5rem;
    }

    #logo-link {
        grid-row: 1;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 4.4rem;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        display: -ms-grid;
        -ms-grid-columns: (1fr)[2];
        -ms-grid-rows: 4.4rem;

    }

    #logo {
        align-self: center;
        justify-self: center;
        grid-column: 1 / span 2;
        max-height: calc(100% - 0.6rem);
        border-radius: 10%;
    }

    .menu-open {
        left: 0;
    }

    .alert {
        width: calc(100% - 2rem);
    }
}

@media only screen and (max-width : 47.99rem) and (-ms-high-contrast: none), (-ms-high-contrast: active), print {
    /* IE10+ CSS styles go here */
    header {
        display: flex;
    }

    .menu-icon {
        width: 70.4px;
    }

    #logo-link {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 70.4px;
    }
    
    #logo {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }

    #profile-data {
        display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
    }

        #profile-data img {
            width: 5rem;
        }
}

@media screen and (min-width : 48rem) {
    body {
        grid-template-columns: calc(15rem - 0.5rem) minmax(28.75rem, 49.25rem);
        background: linear-gradient(90deg, #141414 50%, #0a0a0a 50%);
    }

    header {
        display: none;
    }

    nav {
        margin-top: 3rem;
        background-color: #141414;
    }

        nav ul {
            margin-top: 0;
            margin-left: auto;
            margin-right: 1rem;
        }

        nav ul > li:first-child {
            margin-top: calc(-20em/12);
        }

    main {
        padding-top: 1rem;
        max-width: 46.25rem;
        min-width: 28.75rem;
        min-height: 100vh;
    }

    .toggle {
        display: none;
    }
}

@media screen and (min-width : 48rem) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
        display: -ms-flexbox;
    }

    /* IE10+ CSS styles go here */
    #profile-data {
        display: -ms-flexbox;
    }

    #profile-data img {
        width: 25%;
    }

    #profile-data h2 {
        width: 22rem;
        margin-left: auto;
    }
}
