@inject SignInManager<StreamNightUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<p class="pure-menu-heading">User Options</p>
<ul class="pure-menu-list">
    <li class="pure-menu-item"><a class="pure-menu-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="pure-menu-item"><a id="external-login" class="pure-menu-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="pure-menu-item"><a class="pure-menu-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
