@page
@model DeletePersonalDataModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span>&#9888;</span>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="pure-form">
        @if (Model.RequirePassword)
        {
            <div class="pure-control-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" />
            </div>
        }
        <button class="pure-button button-error" type="submit">Delete data and close my account</button>
    </form>
</div>
