@page
@model PersonalDataModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div>
    <div>
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="pure-form">
            <button class="pure-button pure-button-primary" type="submit">Download</button>
            <a id="delete" asp-page="DeletePersonalData" class="pure-button pure-button-primary" style="background:rgb(202, 60, 60);">Delete</a>
        </form>
    </div>
</div>
